.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}
.product div{
    margin-right: 10px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.main-button{
    background-color: #f0c14b;
    width: 200px;
    height: 26px;
    border: 1px solid;
    border-radius: 3px;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
}